* {
    padding: 0;
    margin: 0;

}

menu {

    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.menu-izquierda {
    width: 150px;
    height: 100%;
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.menu-normal {
    display: flex;
    flex-direction: row;
}

.menu-derecha {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-derecha a {
    width: 70px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: blanchedalmond;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    padding: 10px;
    box-shadow: 3px 3px 6px 0 white;
    border-radius: 10px;
}

.menu-derecha a:hover{
    background-color: rgb(46, 45, 45);
}

.menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-right: 20px;
}

.hamburger-icon {
    width: 35px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;
    /* evita que se tape */
}

.hamburger-icon span {
    background-color: rgb(216, 207, 207);
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.card-list {

    background-color: rgb(247, 248, 248);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
}

.card-item {

    background-color: rgb(212, 107, 31);
    width: 30%;
    height: auto;
    margin: 0 10px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    box-shadow: 3px 3px 6px 0 black;
}

.card-item:hover {
    transform: translateY(-2px) scale(1.02);
}

.card-item img {

    width: 100%;
    height: auto;
    object-fit: cover;

}

.card-info {
    width: auto;
    height: auto;
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

}

.card-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-desc {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 15px;
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;

}

.card-cta {
    width: 120px;
    height: 30px;
    border: 2px solid black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 3px 3px 6px 0 black;
}

.card-cta:hover {
    transform: scale(1.01)translateX(3px) translateY(-3px);

}

.main-accordion-container {
    width: 100%;
    

}

.accordion-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 3px solid black;


}



.accordion-title {
    width: 100%;
    height: auto;
    background-color: rgb(212, 107, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

}

.accordion-title:hover {
    background-color: rgb(255, 169, 108);
    transform: scale(1.02);
    
}

.accordion-desc {
    display: none;
}

.accordion-desc a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.accordion-desc a:hover {
  text-decoration: underline;
  color: rgb(54, 54, 54);
}

.tab-active .accordion-desc {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 169, 108);
    border-top: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 20px 0;

}





@media screen and (max-width: 1000px) {
    .menu-container {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;


    }

    .menu-normal {
        display: none;
    }

    .hamburger-icon {
        display: flex;
    }

    .hamburger-icon span {
        background-color: rgb(228, 221, 221);
        width: 100%;
        height: 6px;
        display: block;
        border-radius: 3px;
    }

    .menu-container.menu-open .menu-normal {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        /* justo debajo del header */
        right: 20px;
        background-color: lightcoral;
        padding: 20px;
        border-radius: 15px;
        border: 2px solid white;
        z-index: 5;
        gap: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    .card-item {
        width: 85%;
        margin-bottom: 50px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .card-title {
        font-size: 70px;
    }

    .card-desc {
        height: auto;
        font-size: 50px;
    }

    .card-cta {
        width: auto;
        height: auto;
        font-size: 50px;
        padding: 30px;
        margin: 50px 0 30px 30px;
    }
    .accordion-title {
        font-size: 70px;
    }
    .tab-active .accordion-desc {
        font-size: 60px;
        margin: 10px ;
    }

}